---
layout: default
title: archive
path: archive
---

<h1>Books</h1>
<grid columns=4>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src="{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>

<h1>Books</h1>
<grid columns=4>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src="{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>

<h1>Books</h1>
<grid columns=4>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src="{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>

<h1>Books</h1>
<grid columns=4>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src4"{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>

<h1>Books</h1>
<grid columns=3>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src="{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>

<h1>Books</h1>
<grid columns=3>
  {% for item in site.data.books %}
  <c>
    <a href="{{ item.link }}">
      <img src="{{ item.coverImage }}" alt="{{iteam.title}}">
      <h2>{{ item.title }}</h2>
      <h3>{{ item.author }}</h3>

    </a>
    </c>
  {% endfor %}
</grid>
