---
layout: default
title: clips
---


<section class="center w-100">
  <h1>Clips (WIP)</h1>

<p>When I collect things from around the internet they appear here.</p>

<div class="fl flex-wrap w-50 ">
    {% for clips in site.clips reversed %}

      <article class="">
        <a href="{{ clips.url }}" class="db link dim">
          <img src="{{ clips.image }}" alt="">
            <h2 class="w-100">
              {{ clips.title }}
            </h2>
        </a>
      </article>
    {% endfor %}
</div>
  <!-- {% assign image_files = site.static_files | where: "image", true %}
  {% for myimage in image_files %}
    {{ myimage.path }}
      <p>file</p>
  {% endfor %} -->

  <!-- <h1>C (WIP)</h1>
  {% for topics in site.topics reversed %}
      <div class="fl w-50 w-30-m w-30-l pa3">
        <a href="{{topics.url}}" class="db link dim">
          <div class="fl w-100 ">
            <h3 class="fl w-50">
              {{ topics.title }}
            </h3>
            <h3 class="fr w-50">

            </h3>
          </div>
          <dl class="mt2 f6 lh-copy">
            <dd class="ml0 black w-50"> </dd>
          </dl>
        </a>
      </div>
    {% endfor %}

</section>

<section class="center pa2">
<h1>Feeds (WIP)</h1>
{% for topics in site.topics reversed %}
    <div class="fl w-50 w-30-m w-30-l pa3">
      <a href="{{topics.url}}" class="db link dim">
        <div class="fl w-100 ">
          <h3 class="fl w-50">
            {{ topics.title }}
          </h3>
          <h3 class="fr w-50">
          </h3>
        </div>
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black w-50"> </dd>
        </dl>
      </a>
    </div>
  {% endfor %}-->
</section>
