---
layout: default
title: journal
---


<!-- <section class="center w-100">
  <div class="w-100">

   {% for journal in site.journal reversed limit:1 %}
          <article class="flex center w-100 hidden mv4">
            <div class="fl w-50 pa3">
              <img src="https://source.unsplash.com/user/gndclouds/800x600" alt="{{ notes.title }}" class="w-100 db outline black-10"/>
            </div>

            <div class="fr w-50 pa3">
              <p class="fl w-100">{{ journal.title | escape }}</p>
              <p class="fl w-100">
                {{ journal.content | strip_html | truncatewords: 50 }}
              </p>
            </div>

          </article>
      {% endfor %}

  </div>
</section> -->

<section class="center w-100 pa2">
  {% for journal in site.journal reversed %}

      {% capture day %}{{ journal.date | date: '%Y-%m-%d' }}{% endcapture %}
      {% capture nday %}{{ journal.next.date | date: '%Y-%m-%d' }}{% endcapture %}


      {% if day != nday %}
      <h5 class="date">{{ journal.date | date: "%Y. %m. %e" }}</h5>



      {% endif %}

      <h1>{{journal.title}}</h1>
      <!-- <p>{{ journal.content }}</p> -->

  {% endfor %}

  <!-- {% for journal in site.journal reversed %}

      {% capture day %}{{ journal.date | date: '%Y-%m-%d' }}{% endcapture %}
      {% capture nday %}{{ journal.next.date | date: '%Y-%m-%d' }}{% endcapture %}


      {% if day != nday %}
      <h5 class="date">{{ journal.date | date: "%Y. %m. %e" }}</h5>



      {% endif %}

      <h1>{{journal.title}}</h1>

  {% endfor %} -->


<!-- {% for journal in site.journal  %}
    <div class="fl w-100 w-100-m w-100-l pa3">
      <a href="{{journal.url}}" class="db link dim">
        <img src="{{ journal.image }}" alt="{{ journal.title }}" class="w-100 db outline black-10"/>
        <div class="fl w-100 ">
          <h3 class="fl w-50">
            {{ journal.title }}
          </h3>
          <h3 class="fr w-50">

          </h3>
        </div>
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black w-50"> </dd>
        </dl>
      </a>
    </div>
  {% endfor %} -->
</section>
