---
layout: default
title: notes
---


<section class="center w-100 pa2">
  {% for notes in site.notes reversed %}

      {% capture day %}{{ notes.date | date: '%Y-%m-%d' }}{% endcapture %}
      {% capture nday %}{{ notes.next.date | date: '%Y-%m-%d' }}{% endcapture %}

      {% if day != nday %}
      <h5 class="date">{{ notes.date | date: "%Y. %m. %e" }}</h5>
      {% endif %}

      {% if notes.externalurl != null %}
      <a href="{{notes.externalurl}}"><h1>{{notes.title}} ↗</h1></a>

      {% else %}
      <a href="{{notes.permalink}}"><h1>{{notes.title}}</h1></a>
      {% endif %}
  {% endfor %}

</section>
