---
layout: default
title: projects
---

<section class="center w-80 pa3">
<!--   <div class="pa3">
    <ul class="list ph3 ph5-ns pv4">
      {% assign tags = site.tags | sort %} {% for tag in tags %}
      <li class="dib mr1 mb2">
        <a
          href="/tag/{{ tag | first | slugify }}/"
          class="f6 f5-ns b db pa2 link dim dark-gray ba b--black-20"
        >
          {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a
        >
      </li>
      {% endfor %}
    </ul>
  </div> -->
  {% for projects in site.projects reversed%}
  <div class="fl w-100 w-50-ns pa3">
    <a href="{{projects.url}}" class="db link dim">
      <!--         <img src="{{ projects.image }}" alt="{{ projects.title }}" class="w-100 db outline black-10"/> -->
      <img
        src="https://source.unsplash.com/user/gndclouds/800x600"
        alt="{{ projects.title }}"
        class="w-100 db outline black-10"
      />
      <div class="fl w-100 ">
        <h2 class="w-100">
          {{ projects.title }}
        </h2>
        <p class="fl w-100">
          <a href="{{ projects.tags }}">{{ projects.tags }}</a>
          {{ projects.tags }}
        </p>
      </div>

      <dl class="mt2 f6 lh-copy">
        <dd class="ml0 black w-50"></dd>
      </dl>
    </a>
  </div>
  {% endfor %}
</section>
