---
layout: default
title: weeknotes
---

<section class="fl w-100">
    <p>A colloection of what I have been working on this week.</p>
</section>
<section class="fl w-100">
  {% assign timeframe = 604800 %}

{% for notes in site.notes reversed %}
  {% assign post_in_seconds = notes.date | date: "%s" | plus: 0 %}
  {% assign recent_posts = "now" | date: "%s" | minus: timeframe  %}

  {% capture day %}{{ notes.date | date: '%Y-%m-%d' }}{% endcapture %}
  {% capture nday %}{{ notes.next.date | date: '%Y-%m-%d' }}{% endcapture %}

  {% if post_in_seconds > recent_posts %}


  {% if day != nday %}
  <h5 class="date">{{ notes.date | date: "%Y. %m. %e" }}</h5>

  {% endif %}

  <h1>{{notes.title}}</h1>
  <p>{{notes.content}}</p>

  {% endif %}
{% endfor %}
</section>
