---
layout: default
title: work
---

<section class="center w-80 pa3">
  <div class="pa3">
    <ul class="list ph3 ph5-ns pv4">
      {% assign tags = site.tags | sort %} {% for tag in tags %}
      <li class="dib mr1 mb2">
        <a
          href="/tag/{{ tag | first | slugify }}/"
          class="f6 f5-ns b db pa2 link dim dark-gray ba b--black-20"
        >
          {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
<button type="button" name="button">experiemnt</button>
<button type="button" name="button">clients work </button>
<button type="button" name="button">schook</button>
<br><br>
  {% for work in site.work reversed%}
  <div class="fl w-100 w-50-ns pa3">
    <a href="{{work.url}}" class="db link dim">
      <!--         <img src="{{ projects.image }}" alt="{{ projects.title }}" class="w-100 db outline black-10"/> -->
      <img
        src="{{ work.image }}"
        alt="{{ work.title }}"
        class="w-100 db outline black-10"
      />
      <div class="fl w-100 ">
        <h2 class="w-100">
          {{ work.title }}
        </h2>
        <p class="fl w-100">
          <a href="{{ work.tags }}">{{ work.tags }}</a>
          {{ work.tags }}
        </p>
      </div>

      <dl class="mt2 f6 lh-copy">
        <dd class="ml0 black w-50"></dd>
      </dl>
    </a>
  </div>
  {% endfor %}
</section>
