---
layout: book
path: "/recoil"
date: "2019-09-09"
title: "Recoil"
author:
tags: ['book', 'ecology']
excerpt: "A preview of my first post"
image: https://upload.wikimedia.org/wikipedia/en/2/2f/Whole_Earth_Discipline-cover.png
---


<!-- <ul>
  {% for notes in site.notes %}
  {% if notes.tags != null %}
  <li>
    <a href="{{ notes.url }}">{{ notes.title }}</a>
    <p>{{notes.content}}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul> -->


<!-- <ul>
  {% for notes in site.notes %}
  <li>
    <!-- <a href="{{ notes.url }}">{{ notes.title }}</a> -->
    <p>{{notes.content}}</p>
  </li>
  {% endfor %}
</ul> -->
