<!-- <
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  <nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>
 -->

<nav class="dt w-100 border-box pa3 ph3-ns">

      {% if page.url == "/" %}
      <div class="flex">
        <a class="link dib" href="#">☁️ </a><input st class="dib" type="text" id="myInput" value="{{page.title}}" >
              <button style="display:none;" id="myBtn" onclick="directNav()"></button>
      </div>

  {% else %}
  <div class="flex">
    <span class="link dib goback" onclick="goBack();"><- </span>
    <input class="dib" type="text" id="myInput" value=" {{page.title}}">
     <button style="display:none;" id="myBtn" onclick="directNav()"></button>
  </div>

{% endif %}


      <div class="dtc v-mid w-75 tr">

        <!-- <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> -->
         <a
          class="link dim dark-gray dib mr3 mr4-ns"
          href="/projects/"
          title="ventures"
          >ventures</a
        >
        <a
          class="link dim dark-gray dib mr3 mr4-ns"
          href="/clips"
          title="clips"
          >clips</a
        >
        <a
          class="link dim dark-gray dib mr3 mr4-ns"
          href="/notes"
          title="notes"
          >notes</a
        >
        </div>
    </nav>
