/* FONTS */
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif, "Segoe UI Emoji", "Apple Color Emoji",
    "Segoe UI Symbol";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif, "Segoe UI Emoji", "Apple Color Emoji",
      "Segoe UI Symbol";
  }
}

/* GENERAL CSS */
body {
  -webkit-font-feature-settings: "liga"1, "ss01"1, "zero"1, "cv11"1, 'frac'1, 'calt'1, 'tnum'1;
  -moz-font-feature-settings: "liga"1, "ss01"1, "zero"1, "cv11"1, 'frac'1, 'calt'1, 'tnum'1;
  -ms-font-feature-settings: "liga"1, "ss01"1, "zero"1, "cv11"1, 'frac'1, 'calt'1, 'tnum'1;
  font-feature-settings: "liga"1, "ss01"1, "zero"1, "cv11"1, 'frac'1, 'calt'1, 'tnum'1;
  /* background-image: url("https://source.unsplash.com/user/gndclouds"); */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  line-height: 1.8;
}
a {
  color:gray;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
letter-spacing: 0.09em;
}

input[type="text"] {
  outline: none;
  border: none;
  background: none;
  width:500px;
}

footer {
  position: fixed;
 top: 90vh;
 width: 100vw;
}

footer select {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 1rem;
  margin-left: -1rem;

}
img{
  overflow: hidden;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

iframe {
  border: 0;
}
h1{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 126.7%;
}
h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

button {
  border-style: none;
  border-color:  none;

}
.search {
  width: 80vw;
  height: 40px;
}
.hero-text{
  font-size: 1.25rem;
  line-height: 24px;

}

.minimal-card{

}

.mini-title{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.09em;
text-transform: uppercase;
}

.mini-title-section{
text-align: right;
}





/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  body {
    background: #EEEEEE;
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
  }

  h1, h2, h3, h4, h5, p, nav, footer {
    color: black;
  }

  .imported-text {
    color: black;
  }

  .box-border {
    background: #FFFFFF;
    border-color: #000000;
  }

  /* options {
    border: 1px solid #e5e5e5;
  } */
  select {
    border: none;
    background: none;
    color:#000000;
  }
}

.card-hover:hover{
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  /* border-radius: 3px; */
}
input[type="text"] {
  color: black;
}



/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background: #222831;
  }

  h1, h2, h3, h4, h5, p, nav, footer {
    color: white;
  }

  .imported-text {
    color: white;
  }

  .box-border {
    background: #000000;
    border-color: #FFFFFF;
  }
  /* options {
    border: 1px solid #e5e5e5;
  } */
  select {
    border: none;
    background: #000000;
    color:#FFFFFF;
  }
  .card-hover:hover{
    box-shadow: 6px 6px 0px rgba(255, 255, 255, 0.25);
    /* border-radius: 3px; */
  }
  input[type="text"] {
    color: white;
  }
}
