---
layout: default
title: book
---

<section class="hero book">
  <grid columns="2">
    <!-- <div span-s=row span=1> <img src="{{page.image}}" alt="">
    </div> -->
    <div span-s="row" span="2-3">
      <h1>{{page.title}}</h1>
      <br />
      <h2>{{page.author}}</h2>
      <br />
    </div>
  </grid>
</section>

<grid columns="3">
  {{content}}
</grid>

<!-- {% for clips in site.clips %}
{% for tag in clips.tags %}
{% if clips.tags contains "cat" %}


<article class="">
  <a href="{{ clips.url }}" class="db link dim">
    <img src="{{ clips.image }}" alt="" />
    <p class="w-100">
      {{ post.content }}
    </p>
  </a>
</article>

{% endif %}
{% endfor %}
{% endfor %} -->
