---
layout: default
title: logs
---

<article class="center mw5 mw6-ns hidden  mv4">
<!--   <h1 class="f4 mv0 pv2 ph3">{{ page.title | escape }}</h1> -->
   <div class="aspect-ratio aspect-ratio--6x4 mb4">
    <div class="aspect-ratio--object cover" style="background:url({{page.image}}) center;"></div>
  </div>
  <div class="fl w-100">
    <p class="w-50 pv2 ph3">{{ page.location | escape }}</p>
    <p class="w-50 pv2 ph3">{{ page.location | escape }}</p>
  </div>
  


  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0">
      {{ content }}
    </p>
  </div>
</article>
