---
layout: default
---

<article class="center mw8 mv4">
<!--   <h1 class="f4 mv0 pv2 ph3">{{ page.title | escape }}</h1> -->

  <div class="fl w-100">
    <p class="w-50 pv2 ph3">{{ page.location | escape }}</p>
    <p class="w-50 pv2 ph3">{{ page.location | escape }}</p>
  </div>



  <div class="pa3 ">
    <p class=" lh-copy measure mv0">

      {{ content }}
    </p>
  </div>

  <!-- <div class="">
    <tr>
{% for tag in page.tags %}
<td>{{ tag }}</td>
{% endfor %}
</tr>
  </div> -->
</article>
